@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&family=Clicker+Script&family=Dancing+Script&family=Lobster&family=Open+Sans&family=Pacifico&family=Poppins:wght@300;400;500;600&family=Rubik&display=swap');

body {
    background-color: antiquewhite;
}

#clockContainer {
    position: relative;
    margin: auto;
    height: 30vw;
    width: 30vw;
    background: no-repeat url(clock.png);
    background-size: 100%;
    filter: invert(100%);
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}

.head {
    font-size: 400%;
    text-align: center;
    margin: 2%;
    font-family: 'Clicker Script', cursive;
}

@media (max-width:1220px) {
    #clockContainer {
        height: 38vw;
        width: 38vw;
    }

}

@media (max-width:370px) {
    .head {
        font-size:300%;
    }
}